.form{
    margin-top: 30px;
    display: block;
    width: 500px;
    box-shadow: 5px 10px 8px #d6d6d6;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    font-size: medium;
    border-color: coral;
    color: #ffff;
}