.colChild {
    padding: 20px;
    box-shadow: 5px 10px 8px #d6d6d6;
    margin: 20px 5px 20px 5px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.titleHeader {
    color: rgb(248, 143, 138);
}
.colAvatar {
    padding: 20px 20px 0px 20px;
    box-shadow: 5px 10px 8px #d6d6d6;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
.onChoose{
    background-color: #dbe5fa;
}
.notChoose{
    background-color: #d6d6d6;
}