.feature {
  padding: 20px;
  box-shadow: 5px 10px 8px #d6d6d6;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.layout {
  height: 100vh;
}
#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

